.main {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

.logo {
  margin: 4rem auto;
  text-align: center;
}

  .logo img {
    max-width: 200px;
  }

.nav {
  margin: 2rem auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.navItem {
  display: inline-block;
  padding: 0.5rem;
  color: var(--color-dark);
  text-decoration: none;
}

.navItem:hover,
.navItem:focus {
  text-decoration: underline;
}

.searchBar {
  margin-top: 2rem;
  width: 100%;
  padding: 1rem;
  line-height: 1;
  border: 1px solid var(--color-dark);
}

.searchBar:active,
.searchBar:focus {
  outline: 0;
  box-shadow: 0 0 0 1px var(--color-dark);
  background: var(--color-light);
}
