.beer {
  overflow: hidden;
  margin: 4rem auto;
}

.title {
  margin-top: 0;
}

.title a {
  text-decoration: none;
  color: var(--color-dark);
}

.title a:hover {
  border-bottom: 1px solid var(--color-dark);
}

.img {
  float: left;
  width: 10rem;
  height: 10rem;
  object-fit: contain;
  font-size: 0;
}

.button {
  display: inline-block;
  font-size: .85rem;
  padding: .8rem;
  color: var(--color-dark);
  text-decoration: none;
  border: 1px solid var(--color-dark);
}

.button:hover {
  box-shadow: 0 0 0 1px var(--color-dark);
}
